{{> header}}
<section 
  id="new-password"
  class="section-container {{#unless token_verified}}verify-page{{/unless}}"
>
  {{#if token_verified}}
    <h2>
      {{t "settings.resetPassword"}}
    </h2>
    <p>{{t "settings.setNewPassword"}}</p>
    {{> reset_password/new_password_form}}
  {{else}}
    <h2>
      {{> icons/x}}
      {{t "settings.invalidPasswordToken"}}
    </h2>
    <a href="/reset-password" title="{{t "login.forgotPasswordAria"}}">{{t "login.forgotPasswordAria"}} →</a>
  {{/if}}
</section>
{{> footer}}