{{> header}}
<section id="terms" class="section-container">
  <h3>{{default_domain}} {{t "terms.title"}}</h3>
  <p>
    {{{t "terms.paragraph_1" default_domain=default_domain}}}
  </p>
  <p>
    {{{t "terms.paragraph_2" default_domain=default_domain site_name=site_name}}}
  </p>
  <p>
    {{{t "terms.paragraph_3" site_name=site_name}}}
  </p>
  <p>
    {{{t "terms.paragraph_4" site_name=site_name}}}
  </p>
  <p>
    {{{t "terms.paragraph_5" site_name=site_name}}}
  </p>
</section>
{{> footer}}