{{> header}}
<section id="verify-change-email" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/">
      {{t "welcome.emailVerifiedAndRedirect"}}
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      {{t "welcome.emailNotVerifiedAndTryAgain"}}
    </h2>
    {{#if user}}
      <a href="/settings" title="{{t "header.settingsAria"}}">{{t "header.settings"}} →</a>
    {{else}}
      <a href="/login" title="{{t "header.loginOrSignupAria"}}">{{t "header.loginOrSignup"}} →</a>
    {{/if}}
  {{/if}}
</section>
{{> footer}}