{{> header}}
<section id="verify" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/">
      {{t "welcome.verifiedAndRedirect"}}
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      {{t "welcome.notVerifiedAndTryAgain"}}
    </h2>
    <a href="/login" "{{t "header.loginOrSignupAria"}}">{{t "header.loginOrSignup"}} →</a>
  {{/if}}
</section>
{{> footer}}