<thead>
  {{> admin/table_tab title='domains'}}
  <tr class="controls domains-controls with-filters">
    <th class="filters">
      <div>
        <div class="search-input-wrapper">
          <input 
            id="search" 
            name="search" 
            type="text" 
            placeholder="{{t "table.admin.searchDomainPlaceholder"}}" 
            class="flat in-table search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.search}}"
          />
          <button 
            type="button" 
            aria-label="{{t "table.admin.clearDomainSearchAria"}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
        <div class="search-input-wrapper">
          <input 
            id="search_user" 
            name="user" 
            type="text" 
            placeholder="{{t "table.admin.searchUserPlaceholder"}}" 
            class="flat in-table search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.user}}"
          />
          <button 
            type="button" 
            aria-label="{{t "table.admin.clearUserSearchAria"}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
        <select id="domains-select-banned" name="banned" class="flat in-table ban" hx-on:change="resetTableNav()">
          <option value="" selected>{{t "table.admin.filterBannedPlaceholder"}}</option>
          <option value="true">{{t "table.admin.filterBanned"}}</option>
          <option value="false">{{t "table.admin.filterNotBanned"}}</option>
        </select>
      </div>
      <div>
        <select id="domains-select-links" name="links" class="flat in-table links" hx-on:change="resetTableNav()">
          <option value="" selected>{{t "table.admin.filterLinksPlaceholder"}}</option>
          <option value="true" {{#ifEquals query.links 'true'}}selected{{/ifEquals}}>{{t "table.admin.filterWithLinks"}}</option>
          <option value="false" {{#ifEquals query.links 'true'}}selected{{/ifEquals}}>{{t "table.admin.filterWithoutLinks"}}</option>
        </select>
        <select id="domains-select-owner" name="owner" class="flat in-table owner" hx-on:change="resetTableNav()">
          <option value="" selected>{{t "table.admin.filterOwnerPlaceholder"}}</option>
          <option value="true" {{#ifEquals query.owner 'true'}}selected{{/ifEquals}}>{{t "table.admin.filterWithOwner"}}</option>
          <option value="false" {{#ifEquals query.owner 'true'}}selected{{/ifEquals}}>{{t "table.admin.filterWithoutOwner"}}</option>
        </select>
        <input id="total" name="total" type="hidden" value="{{total}}" />
        <input id="limit" name="limit" type="hidden" value="10" />
        <input id="skip" name="skip" type="hidden" value="0" />
        <button 
          class="table primary"
          hx-on:click='openDialog("admin-table-dialog")' 
          hx-get="/add-domain" 
          hx-target="#admin-table-dialog .content-wrapper" 
          hx-indicator="#admin-table-dialog"
        >
          <span>{{> icons/plus}}</span>
          {{t "table.admin.createDomain"}}
        </button>
      </div>
    </th>
    {{> admin/table_nav}}
  </tr>
  <tr>
    <th class="domains-id">{{t "table.admin.headerID"}}</th>
    <th class="domains-address">{{t "table.admin.headerDomainAddress"}}</th>
    <th class="domains-homepage">{{t "table.admin.headerHomepage"}}</th>
    <th class="domains-created-at">{{t "table.admin.headerCreatedAt"}}</th>
    <th class="domains-links-count">{{t "table.admin.headerTotalLinks"}}</th>
    <th class="domains-actions"></th>
  </tr>
</thead>