<tr id="tr-{{id}}" {{#if swap_oob}}hx-swap-oob="true"{{/if}}>
  <td class="original-url right-fade">
    <a href="{{target}}" target="_blank" rel="noopener noreferrer">
      {{target}}
    </a>
    {{#if description}}
      <p class="description">
        {{description}}
      </p>
    {{/if}}
  </td>
  <td class="created-at">
    {{relative_created_at}}
    {{#if relative_expire_in}}
      <p class="description">
        Expires in {{relative_expire_in}}
      </p>
    {{/if}}
  </td>
  <td class="short-link right-fade">
    <div class="clipboard small">
      <button 
        aria-label="Copy" 
        hx-on:click="handleShortURLCopyLink(this);"
        data-url="{{link.url}}"
      >
        {{> icons/copy}}
      </button>
      {{> icons/check}}
    </div>
    <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">
      {{link.link}}
    </a>
  </td>
  <td class="views">
    {{visit_count}}
  </td>
    {{> links/actions}}
</tr>
<tr class="edit">
  <td class="loading">
    {{> icons/spinner}}
  </td>
</tr>