<section id="apikey-wrapper">
  <h2>API</h2>
  <p>
    {{{t "settings.APIDocsDesc"}}}
    <a href="https://docs.kutt.it" title="{{t "settings.readAPIDocsAria"}}" target="_blank">
      {{t "settings.readAPIDocs"}}
    </a>
  </p>
  <div id="apikey">
    {{#if user.apikey}}
      <div class="clipboard small">
        <button 
          type="button"
          aria-label="{{t "backbone.copy"}}" 
          hx-on:click="handleShortURLCopyLink(this);" 
          data-url="{{user.apikey}}"
        >
        {{> icons/copy}}
        </button>
        {{> icons/check}}
      </div>
      <p 
        hx-on:click="handleShortURLCopyLink(this);" 
        data-url="{{user.apikey}}"
      >
        {{user.apikey}}
      </p>
    {{/if}}
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
  <form 
    hx-post="/api/auth/apikey"
    id="generate-apikey" 
    hx-target="#apikey-wrapper" 
    hx-swap="outerHTML"
  >
    <button type="submit" class="secondary">
      <span>{{> icons/zap}}</span>
      <span>{{> icons/spinner}}</span>
      {{#if user.apikey}}{{t "settings.regenerateKey"}}{{else}}{{t "settings.generateKey"}}{{/if}}
    </button>
  </form>
</section>