<section id="delete-account-wrapper">
  <h2>
    {{t "settings.deleteAccount"}}
  </h2>
  <p>{{{t "settings.deleteAccountDesc" domain=default_domain}}}</p>
  <form 
    id="delete-account"
    hx-post="/api/users/delete"
    hx-select="form"
    hx-target="this"
    hx-swap="outerHTML"
    hx-sync="this:abort"
  >
    {{#if success}}
      <p class="success">{{success}}</p>
    {{else}}
      <div class="inputs">
        <label class="{{#if errors.password}}error{{/if}}">
          {{t "settings.deleteAccountOptionPassword"}}
          <input 
            id="password-for-delete-account" 
            name="password" 
            type="password" 
            placeholder="{{t "settings.deleteAccountOptionPasswordPlaceholder"}}"
            hx-preserve="true"
          />
          {{#if errors.password}}<p class="error">{{errors.password}}</p>{{/if}}
        </label>
      </div>
      <button type="submit" class="danger">
        <span>{{> icons/trash}}</span>
        <span>{{> icons/spinner}}</span>
        {{t "backbone.delete"}}
      </button>
      {{#if error}}
        {{#unless errors}}
          <p class="error">{{error}}</p>
        {{/unless}}
      {{/if}}
    {{/if}}
  </form>
</section>