<div class="content admin-create">
  <h2>{{t "table.admin.createDomain"}}</h2>
  <form
    id="add-domain-form"
    hx-post="/api/domains/admin" 
    hx-target="closest .content" 
    hx-swap="outerHTML" 
    hx-indicator="closest .content"
  >
    <label class="{{#if errors.address}}error{{/if}}">
      {{t "table.admin.createDomainOptionAddress"}}
      <input
        name="address"
        id="add-domain-address"
        type="text"
        placeholder="{{t "table.admin.createDomainOptionAddressPlaceholder"}}"
        hx-preserve="true"
      />
      {{#if errors.address}}<p class="error">{{errors.address}}</p>{{/if}}
    </label>
    <label class="{{#if errors.homepage}}error{{/if}}">
      {{t "table.admin.createDomainOptionHomepage"}}
      <input
        name="homepage"
        id="add-domain-homepage"
        type="text"
        placeholder="{{t "table.admin.createDomainOptionHomepagePlaceholder"}}"
        hx-preserve="true"
      />
      {{#if errors.homepage}}<p class="error">{{errors.homepage}}</p>{{/if}}
    </label>
    <label class="checkbox">
      <input 
        id="add-domain-banned" 
        name="banned"
        type="checkbox"
        onchange="canSendVerificationEmail();" 
        hx-preserve="true"
      />
      {{t "table.admin.banned"}}
    </label>
    <div class="buttons">
      <button type="button" hx-on:click="closeDialog()">{{t "backbone.cancel"}}</button>
      <button type="submit" class="primary">
        <span>{{> icons/plus}}</span>
        {{t "backbone.create"}}
      </button>
      {{> icons/spinner}}
    </div>
  </form>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>