<div class="content">
  <h2>{{t "table.admin.banDomainDialogTitle"}}</h2>
  <p>
    {{{t "table.admin.banDomainDialogMsg" address=address}}}
  </p>
  <div class="ban-checklist">
    {{#if hasUser}}
      <label class="checkbox">
        <input id="ban-domain-user" name="user" type="checkbox" />
        {{t "table.options.owner"}}
      </label>
    {{/if}}
    {{#if hasLink}}
      <label class="checkbox">
        <input id="ban-domain-links" name="links" type="checkbox" />
        {{t "table.options.links"}}
      </label>
    {{/if}}
  </div>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "backbone.cancel"}}</button>
    <button 
      type="button"
      class="danger confirm" 
      hx-post="/api/domains/admin/ban/{id}" 
      hx-ext="path-params" 
      hx-vals='{"id":"{{id}}"}' 
      hx-target="closest .content" 
      hx-swap="none" 
      hx-include=".ban-checklist"
      hx-indicator="closest .content"
      hx-select-oob="#dialog-error"
    >
      <span class="stop">
        {{> icons/stop}}
      </span>
      {{t "table.actions.ban"}}
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>