<div class="content">
  <h2>{{t "table.admin.banUserDialogTitle"}}</h2>
  <p>
    {{{t "table.admin.banUserDialogMsg" email=email}}}
  </p>
  <div class="ban-checklist">
    <label class="checkbox">
      <input id="ban-user-links" name="links" type="checkbox" />
      {{t "table.options.userLinks"}}
    </label>
    <label class="checkbox">
      <input id="ban-user-domains" name="domains" type="checkbox" />
      {{t "table.options.userDomains"}}
    </label>
  </div>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "backbone.cancel"}}</button>
    <button 
      type="button"
      class="danger confirm" 
      hx-post="/api/users/admin/ban/{id}" 
      hx-ext="path-params" 
      hx-vals='{"id":"{{id}}"}' 
      hx-target="closest .content" 
      hx-swap="none" 
      hx-include=".ban-checklist"
      hx-indicator="closest .content"
      hx-select-oob="#dialog-error"
    >
      <span class="stop">
        {{> icons/stop}}
      </span>
      {{t "table.actions.ban"}}
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>