<div class="content create-user">
  <h2>{{t "table.admin.createUser"}}</h2>
  <form
    id="create-user-form"
    hx-post="/api/users/admin" 
    hx-target="closest .content" 
    hx-swap="outerHTML" 
    hx-indicator="closest .content"
  >
    <label class="{{#if errors.email}}error{{/if}}">
      {{t "login.emailAddress"}}
      <input
        name="email"
        id="create-user-email"
        type="email"
        placeholder="{{t "login.emailAddressPlaceholder"}}"
        hx-preserve="true"
      />
      {{#if errors.email}}<p class="error">{{errors.email}}</p>{{/if}}
    </label>
    <label class="{{#if errors.password}}error{{/if}}">
      {{t "login.password"}}
      <input
        name="password"
        id="create-user-password"
        type="password"
        placeholder="{{t "login.passwordPlaceholder"}}"
        hx-preserve="true"
      />
      {{#if errors.password}}<p class="error">{{errors.password}}</p>{{/if}}
    </label>
    <label class="{{#if errors.role}}error{{/if}}">
      {{t "table.admin.createUserOptionRole"}}
      <select name="role" id="create-user-role" hx-preserve="true">
        <option value="USER" selected>{{t "table.admin.user"}}</option>
        <option value="ADMIN">{{t "table.admin.admin"}}</option>
      </select>
      {{#if errors.role}}<p class="error">{{errors.role}}</p>{{/if}}
    </label>
    <div class="checkbox-wrapper">
      <label class="checkbox">
        <input 
          id="create-user-verified" 
          name="verified" 
          type="checkbox"
          onchange="canSendVerificationEmail();" 
          hx-preserve="true"
          checked
        />
        {{t "table.admin.verified"}}
      </label>
      <label class="checkbox">
        <input 
          id="create-user-banned" 
          name="banned"
          type="checkbox"
          onchange="canSendVerificationEmail();" 
          hx-preserve="true"
        />
        {{t "table.admin.banned"}}
      </label>
    </div>
    <label id="send-email-label" class="checkbox hidden" hx-preserve="true">
      <input id="create-user-send-email" name="verification_email" type="checkbox" />
      {{t "table.admin.sendVerificationEmail"}}
    </label>
    <div class="buttons">
      <button type="button" hx-on:click="closeDialog()">{{t "backbone.cancel"}}</button>
      <button type="submit" class="primary">
        <span>{{> icons/new_user}}</span>
        {{t "backbone.create"}}
      </button>
      {{> icons/spinner}}
    </div>
  </form>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>