<div class="content">
  <h2>{{t "table.admin.deleteDomainDialogTitle"}}</h2>
  <p>
    {{{t "table.admin.deleteDomainDialogMsg" domain=address}}}
  </p>
  {{#if hasLink}}
    <div class="delete-domain-checklist">
      <label class="checkbox">
        <input id="delete-domain-links" name="links" type="checkbox" />
        {{t "table.admin.deleteAllDomainLinksToo"}}
      </label>
    </div>
  {{/if }}
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "backbone.cancel"}}</button>
    <button 
      type="button"
      class="danger confirm" 
      hx-delete="/api/domains/admin/{id}" 
      hx-ext="path-params" 
      hx-vals='{"id":"{{id}}"}' 
      hx-target="closest .content" 
      hx-swap="none" 
      {{#if hasLink}}
        hx-include=".delete-domain-checklist"
      {{/if}}
      hx-indicator="closest .content"
      hx-select-oob="#dialog-error"
    >
      <span>{{> icons/trash}}</span>
      {{t "backbone.delete"}}
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>