<thead>
  {{> admin/table_tab title='links'}}
  <tr class="controls links-controls with-filters">
    <th class="filters">
      <div>
        <div class="search-input-wrapper">
          <input 
            id="search" 
            name="search" 
            type="text" 
            placeholder="{{t "table.admin.searchLinkPlaceholder"}}" 
            class="flat in-table search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.search}}"
          />
          <button 
            type="button" 
            aria-label="{{t "table.admin.clearLinkSearchAria"}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
        <div class="search-input-wrapper">
          <input 
            id="search_domain" 
            name="domain" 
            type="text" 
            placeholder="{{t "table.admin.searchDomainPlaceholder"}}" 
            class="flat in-table search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.domain}}"
          />
          <button 
            type="button" 
            aria-label="{{t "table.admin.clearDomainSearchAria"}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
        <div class="search-input-wrapper">
          <input 
            id="search_user" 
            name="user" 
            type="text" 
            placeholder="{{t "table.admin.searchUserPlaceholder"}}" 
            class="flat in-table search admin" 
            hx-on:input="onSearchChange(event)" 
            hx-on:keyup="resetTableNav()"
            value="{{query.user}}"
          />
          <button 
            type="button" 
            aria-label="{{t "table.admin.clearUserSearchAria"}}" 
            class="clear" 
            onclick="clearSeachInput(event)"
          >
            {{> icons/x}}
          </button>
        </div>
      </div>
      <div>
        <select 
          id="links-select-banned"
          name="banned"
          class="flat in-table ban"
          hx-on:change="resetTableNav()"
        >
          <option value="" selected>{{t "table.admin.filterBannedPlaceholder"}}</option>
          <option value="true">{{t "table.admin.filterBanned"}}</option>
          <option value="false">{{t "table.admin.filterNotBanned"}}</option>
        </select>
        <select 
          id="links-select-anonymous"
          name="anonymous"
          class="flat in-table anonymous"
          hx-on:change="resetTableNav()"
        >
          <option value="">{{t "table.admin.filterAnonymousPlaceholder"}}</option>
          <option value="true" {{#ifEquals query.anonymous 'true'}}selected{{/ifEquals}}>{{t "table.admin.filterAnonymous"}}</option>
          <option value="false" {{#ifEquals query.anonymous 'false'}}selected{{/ifEquals}}>{{t "table.admin.filterNotAnonymous"}}</option>
        </select>
        <select 
          id="links-select-anonymous"
          name="has_domain"
          class="flat in-table has_domain"
          hx-on:change="resetTableNav()"
        >
          <option value="">{{t "table.admin.filterDomainPlaceholder"}}</option>
          <option value="true" {{#ifEquals query.has_domain 'true'}}selected{{/ifEquals}}>{{t "table.admin.filterWithDomain"}}</option>
          <option value="false" {{#ifEquals query.has_domain 'false'}}selected{{/ifEquals}}>{{t "table.admin.filterWithoutDomain"}}</option>
        </select>
        <input id="total" name="total" type="hidden" value="{{total}}" />
        <input id="limit" name="limit" type="hidden" value="10" />
        <input id="skip" name="skip" type="hidden" value="0" />
      </div>
    </th>
    {{> admin/table_nav}}
  </tr>
  <tr>
    <th class="original-url">{{t "table.headerOriginalUrl"}}</th>
    <th class="created-at">{{t "table.headerCreatedAt"}}</th>
    <th class="short-link">{{t "table.headerShortLink"}}</th>
    <th class="views">{{t "table.headerViews"}}</th>
    <th class="actions"></th>
  </tr>
</thead>