<h2>
  {{t "settings.customDomain"}}
</h2>
<p>
  {{{t "settings.customDomainDesc" default_domain=default_domain}}}
</p>

<p>
{{#if server_cname_address}}
  {{t "settings.pointDomainARecord"}}
  {{#if server_ip_address}}
    <b>{{t "settings.ipAddress"}}</b> {{server_ip_address}}
  {{else}}
    {{{t "settings.defaultIpAddress"}}}
  {{/if}}
  {{{t "settings.pointDomainCnameRecord" server_cname=server_cname_address}}}
  {{{t "settings.cloudflareDnsOnly"}}}
{{else}}
  {{t "settings.pointDomainARecord"}}
  {{#if server_ip_address}}
    <b>{{t "settings.ipAddress"}}</b> {{server_ip_address}}
  {{else}}
    {{{t "settings.defaultIpAddress"}}}
  {{/if}}
{{/if}}
{{{t "settings.addDomainInstruction"}}}</p>

{{> settings/domain/table}}
<div class="add-domain-wrapper">
  <button
    type="button"
    class="secondary show-domain-form"
    hx-indicator=".add-domain-wrapper"
    hx-get="/add-domain-form"
    hx-target="#domain-form-wrapper"
    hx-swap="innerHTML"
    hx-on::after-request="event.srcElement.classList.add('hidden')"
  >
    <span>{{> icons/plus}}</span>
    {{t "table.admin.createDomain"}}
  </button>
  {{> icons/spinner}}
  <div id="domain-form-wrapper">
  </div>
</div>
{{> settings/domain/dialog}}