<div class="content">
  <h2>{{t "table.actions.banDialogTitle"}}</h2>
  <p>
    {{{t "table.actions.banDialogMsg" link=link}}}
  </p>
  <div class="ban-checklist">
    <label class="checkbox">
      <input id="user" name="user" type="checkbox" />
      {{t "table.actions.banUser"}}
    </label>
    <label class="checkbox">
      <input id="userLinks" name="userLinks" type="checkbox" />
      {{t "table.actions.banUserLinks"}}
    </label>
    <label class="checkbox">
      <input id="host" name="host" type="checkbox" />
      {{t "table.actions.banHost"}}
    </label>
    <label class="checkbox">
      <input id="domain" name="domain" type="checkbox" />
      {{t "table.actions.banDomain"}}
    </label>
  </div>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "backbone.cancel"}}</button>
    <button 
      type="button"
      class="danger confirm" 
      hx-post="/api/links/admin/ban/{id}" 
      hx-ext="path-params" 
      hx-vals='{"id":"{{id}}"}' 
      hx-target="closest .content" 
      hx-swap="none" 
      hx-include=".ban-checklist"
      hx-indicator="closest .content"
      hx-select-oob="#dialog-error"
    >
      <span class="stop">
        {{> icons/stop}}
      </span>
      {{t "table.actions.ban"}}
    </button>
    {{> icons/spinner}}
  </div>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>